# CLion
.idea/
conan_provider.cmake
# Qt Creator
CMakeLists.txt.user
# Visual Studio
.vs
out
CMakeSettings.json
# Visual Studio Code
.vscode/
.vsconan/
# Python
venv
.env
# direnv
.envrc
# pyenv
.python-version
# Conan
CMakeUserPresets.json

*build*/
!.github/**
